

<ion-view title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.pwdForLogin">
          </label>
      </div>
      <button class="button button-block button-dark" ng-click="signInWithEmailAndPassword(user)">
        Login
      </button>
      <button class="button button-block button-dark" ng-click="modal.show()">
        Create an account
      </button>
  </ion-content>
</ion-view>
