<ion-view title="Sign In" name="login-view">

<div class="login_bg"></div>

  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.pwdForLogin">
          </label>
      </div>
      <button class="button button-block button-dark" ng-click="signInWithEmailAndPassword(user)">
        Login
      </button>
      <button class="button button-block button-dark" ng-click="modal.show()">
        Create an account
      </button>
      <button class="button button-royal button-clear button-block button-small" ng-click="reset.show()">
      forgot password
    </button>
  </ion-content>
</ion-view>
