<ion-view view-title="Account">
  <ion-content class="padding">
	<!--<button class="button button-block button-dark" ng-click="add.show()">
		Add My Business
	</button>-->
    <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">Annouce a Deal</h1>
      <button class="button button-clear button-primary" ng-click="add.hide()">
        Cancel
      </button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Message:</span>
            <input type="text" ng-model="message.message" placeholder="A brief description of your message">
          </label>
          <label class="item item-input">
             <span class="input-label">Details:</span>
             <input type="text" ng-model="message.details" placeholder="Specific details or limitations">
          </label>
          <button class="button button-full button-positive" ng-click="addMessage(message)">
            Submit
          </button>
        </div>
      </ion-content>
</ion-modal-view>
  </ion-content>
</ion-view>
